::ng-deep {
  .col-md {
    margin-bottom: 2%;
  }

  .list-group-item {
    padding: 0.75rem 0.25rem;
  }

  .mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 100% 100% 0 !important;
    background-image: linear-gradient(to right, #cc2b5e, #753a88);
    width: 28px !important;
    height: 28px !important;
  }

  .mat-slider-thumb {
    transform: scale(0) !important;
  }

  .mat-slider-thumb-label-text {
    opacity: 1 !important;
  }

  .mat-slider-horizontal .mat-slider-thumb-label {
    top: -40px !important;
  }

  .mat-slider-horizontal {
    height: fit-content !important;
  }

  .garlic-lookup-company-title {
    font-size: 30px !important;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    /*background-image: linear-gradient(to right, #cc2b5e, #753a88);
    opacity: 0.25;*/
    background: rgba(204, 43, 94,  .55);
  }
  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    //background-image: linear-gradient(to right, #cc2b5e, #753a88);
    background-color: #cc2b5e;
  }
}
