nav {
  background-image: linear-gradient(to right, #cc2b5e, #753a88); /*Purple Love*/
  /*
      Alternatives:
          - Green Beach: background-image: linear-gradient(to right, #02aab0, #00cdac);
          - Blood Mary: background-image: linear-gradient(to right, #ff512f, #dd2476);
          - Fly High: background-image: linear-gradient(to right, #6f86d6, #48c6ef);
          - Aqua Splash: background-image: linear-gradient(to right, #13547a, #80d0c7);
  */
}

.garlicode-template {
  padding: 4rem 1.5rem;
}
